<%= form_with model: @menu, local: true, :url => restaurant_menus_path(@restaurant) do |f| %>

  <div class="field"%>
    <%=f.label :restaurant_id%>
    <%=f.collection_select :restaurant_id, Restaurant.all, :id, :name%><br>

  <div class="field">
    <%=f.label :name%>
    <%=f.text_field :name%>
  </div>
  <br><br>

  <div class="field">
    <%=f.label :category%>
    <%=f.select :category, ["Daily", "Breakfast/Brunch", "Lunch", "Happy Hour", "Dinner", "Dessert/Bakery"], {}, prompt: 'Select One' %>
  </div>
  <br><br>

  <div class="field">
    <%=f.label :details%>
    <%=f.text_area :details%>
  </div>
  <br><br>

  <%= f.submit%>

<%end%>
