<h1>Edit Menu for </h1>

<%= render partial: "layouts/errors", locals: {object: @menu}%>

<%= form_with model: @menu, local: true do |f| %>

  <div class="field"%>
    <%=f.label :restaurant_id%>
    <%=f.collection_select :restaurant_id, Restaurant.all, :id, :name%>
  </div>

  <div class="field">
    <%=f.label :name%>
    <%=f.text_field :name%>
  </div>
  
  <div class="field">
    <%=f.label :details%>
    <%=f.text_area :details%>
  </div>

  <%= f.submit%>

<%end%>

<%=button_to "Delete", menu_path(@menu), method: :delete%>
