<h1>Menu</h1>

<%=@menu.name%> <br>
 <%=@menu.details%><br>

<div class= 'menu-item'>
<%@menu.menu_items.each do |menu_item| %>
<p><%= menu_item.name%> - Rating:
    <%if menu_item.menu_item_reviews.average(:rating) != nil%>
    <%=link_to menu_item.menu_item_reviews.average(:rating), menu_item_menu_item_reviews_path(menu_item)%></p>
    <%else%>
    <%=link_to "Add the First Rating", new_menu_item_menu_item_review_path(menu_item)%>
    <%end%>
<p><%= menu_item.description%><br>
$<%= menu_item.price%><br>
Chef Specialty: <%= check_box_tag menu_item.chef_specialty, menu_item.chef_specialty, disabled: true %>
Vegan: <%= check_box_tag menu_item.vegan, menu_item.vegan, disabled: true %>
Available: <%= check_box_tag menu_item.available, menu_item.available, disabled: true%></p>
<%end%>
</div>
<br>

<%if @menu.restaurant.user_id == session[:user_id]%>
  <%=link_to "Add Items to Menu", new_menu_menu_item_path(@menu)%><br>
  <%=link_to "Edit Menu", edit_menu_path(@menu)%>
<%else%>
  <p><%=link_to "Add a Review", new_menu_item_menu_item_review_path(@menu, menu_item)%></p>
<%end%>
<br><br>
