<h1><%=@menu.restaurant.name%></h1>
<h1>Menu: <%=@menu.name%></h1>
  <p><%=@menu.details%></p>

   <%if @menu.restaurant.user_id == current_user.id%>
     <%=link_to "Add Items to Menu", new_menu_menu_item_path(@menu)%><br>
     <%=link_to "Edit Menu", edit_menu_path(@menu)%>
   <%end%>

  <%@menu.menu_items.each do |menu_item| %>
    <div class= 'menu-item'>

      <p><%= menu_item.name%></p>

      <p><%= menu_item.description%><br>

      <p>$<%= menu_item.price%></p>

      <span>Chef Speciality:
      <%=check_box_tag menu_item.chef_specialty, menu_item.chef_specialty, disabled: true if menu_item.chef_specialty%> |
      </span>

      <span>Vegan:
        <%= check_box_tag menu_item.vegan, menu_item.vegan, disabled: true if menu_item.vegan%> |
      </span>

      <span>Available:
        <%= check_box_tag menu_item.available, menu_item.available, disabled: true if menu_item.available%>
      </span>

      <br><br>

      <p><%if menu_item.menu_item_reviews.average(:rating) != nil%>
        Rating: <%=menu_item.menu_item_reviews.average(:rating)%> -
        <%=link_to "(See All Reviews)", menu_item_menu_item_reviews_path(menu_item)%>
      <%else%>
        <%=link_to "Add the First Review", new_menu_item_menu_item_review_path(menu_item) if @menu.restaurant.user_id != current_user.id%>
      <%end%></p>

      <p><% if @menu.restaurant.user_id != current_user.id%>
      <%=link_to "Add a Review", new_menu_item_menu_item_review_path(menu_item)%><br>
      <%else%>
      <%= link_to "Edit Item", edit_menu_item_path(menu_item) %>
      <%end%></p>
    </div>
  <%end%>
