<h1>Reviews by YOU!</h1>

<h2>Restaurant Reviews</h2>
  <p id="notice"><%= notice %></p>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Restaurant Name</th>
          <th>Rating</th>
          <th>Comment</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <% @restaurant_reviews.each do |review| %>

          <tr>
            <td><%= review.created_at.strftime("%m/%d/%Y")%></td>
            <td><%=link_to review.restaurant.name, restaurant_path(review.restaurant)%></td>
            <td><%= review.rating %></td>
            <td><%= review.comment %></td>
            <td><%= link_to 'Edit', edit_restaurant_review_path(review) %></td>
            <td><%= link_to 'Delete', restaurant_review_path(review), method: :delete%></td>
            <%end%>
          </tr>
      </tbody>
    </table>

<h2>Menu Item Reviews</h2>
  <p id="notice"><%= notice %></p>
    <table>
      <thead">
        <tr>
          <th>Date</th>
          <th>Resturant</th>
          <th>Item</th>
          <th>Rating</th>
          <th>Comment</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

        <tbody>
          <tr>
            <% @menu_item_reviews.each do |review| %>
            <td><%= review.created_at.strftime("%m/%d/%Y")%></td>
            <td><%= link_to review.menu_item.menu.restaurant.name, restaurant_path(review.menu_item.menu.restaurant) %></td>
            <td><%= review.menu_item.name %></td>
            <td><%= review.rating %></td>
            <td><%= review.comment %></td>
            <td><%= link_to 'Edit', edit_menu_item_review_path(review) %></td>
            <td><%= link_to 'Delete', menu_item_review_path(review), method: :delete%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
