<h1><%="Edit Your Menu Item Review for:"%></h1>
<h1><%=@menu_item_review.menu_item.name%><h1>
  <br><br>

  <%= render partial: "layouts/errors", locals: {object: @menu_item_review}%>

  <%= form_with model: @menu_item_review, local: true do |f| %>

  <%= render partial: "mreview_fields", locals: {f: f}%>

  <%end%>
