<%= form_with model: @restaurant, local: true do |f| %>

  <div class="field">
    <%=f.label :name%>
    <%=f.text_field :name%>
  </div>
  <br><br>

  <div class="field">
    <%=f.label :address_one%>
    <%=f.text_field :address_one%>
  </div>
  <br><br>

  <div class="field">
    <%=f.label :address_two%>
    <%=f.text_field :address_two%>
  </div>
  <br><br>

  <div class="field">
    <%=f.label :city%>
    <%=f.text_field :city%>
  </div>
  <br><br>

  <div class="field">
    <%=f.label :state%>
    <%= f.select :state, us_states, {}, prompt: 'Select One' %>  </div>
  <br><br>

  <div class="field">
    <%=f.label :zipcode%>
    <%=f.text_field :zipcode%>
  </div>
  <br><br>

  <div class="field">
    <%=f.label :genre%>
    <%=f.collection_select :genre_id, Genre.all, :id, :name%>
  </div>
  <br><br>

  <%= f.hidden_field :user_id, :value=> session[:user_id] %><br>


  <%= f.submit%>

<%end%>
