<h1>Restaurants</h1>

<%=form_tag("/restaurants", method: 'get') do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<%end%>

<br>
<br>

<%= form_tag("/restaurants", method: 'get') do %>
  <%= label_tag(:genre_id, "Select a Genre:") %>
  <%= collection_select(:restaurant, :genre_id, Genre.all,:id, :name) %>
  <%= submit_tag("Filter") %>
<% end %>
<br>
<%=link_to "Clear Search/Filter Results", restaurants_path%>

<br><br>

<% if @restaurants.blank? %>
  <h2>Sorry, no restaurants matched your search. Try again. </h2>

<%else%>
<% @restaurants.each do |restaurant| %>
  <h3>
    <%= link_to restaurant.name, restaurant_path(restaurant) %> -
    <%= restaurant.city%>, <%=restaurant.state%> -
    <%= link_to "Rating:", restaurant_review_path(restaurant)%>
  </h3>
<%end%>
<%end%>
