<h1><%="Edit Your Restaurant Review for:"%></h1>
<h1><%=@restaurant_review.restaurant.name%><br><br>

<%= render partial: "layouts/errors", locals: {object: @restaurant_review}%>

<%= form_with model: @restaurant_review, local: true do |f| %>

<%= render partial: "review_fields", locals: {f: f}%>

<%end%>
