<h1>All Restaurant Reviews </h1>
<h1>for: <%= @restaurant.name%></h1>

  <p id="notice"><%= notice %></p>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>Rating</th>
          <th>Comment</th>
        </tr>
      </thead>

      <tbody>
        <% @restaurant_reviews.each do |review| %>
          <tr>
            <td><%= review.created_at.strftime("%m/%d/%Y")%></td>
            <td><%= review.user.first_name %></td>
            <td><%= review.rating %></td>
            <td><%= review.comment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
