<h1>All Restaurant Reviews for:</h1>

<% if @restaurant != nil%>
  <%= @restaurant.name%>
<%else @user != nil%>
  <%= @user.first_name%>
  <%end%>

<br>
<%@restaurant_reviews.each do |review|%>
      <%=review.rating%><br>
      <%=review.comment%><br>
      <%=review.user.first_name%><br><br>
<%end%>
