<h1><%="Add a Restaurant Review for:"%></h1>
<h1><%=@restaurant.name%><br><br>


<%= render partial: "layouts/errors", locals: {object: @restaurant_review}%>

<%= form_with model: @restaurant_review, local: true, :url => restaurant_restaurant_reviews_path(@restaurant) do |f| %>

  <div class="field">
   <%= f.label :rating %>
   <%= f.number_field :rating %>
   <br><br>

  <div class="field">
   <%= f.label :comment %>
   <%= f.text_field :comment %>
    <br><br>

  <%= f.hidden_field :user_id, :value => session[:user_id]%>
  <%= f.hidden_field :restaurant_id, :value=> params[:restaurant_id]%>


<%=f.submit%>

   <%end%>
